@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Playfair+Display:wght@400..900&display=swap');


:root {
  --background: #f8f8f8; /* Slight off-white background */
  --foreground: #f8f8f8; /* Black text */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f8f8f8; /* Dark background for dark mode */
    --foreground: #040404; /* Light text for dark mode */
  }
}

body {
  color: var(--foreground); /* Use black text by default */
  background: var(--background); /* Use slight off-white background */
  font-family: 'Montserrat', sans-serif; /* Change to Montserrat */
  @apply font-sans;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-heading;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
