@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f8f8f8; /* Slight off-white background */
  --foreground: #f8f8f8; /* Black text */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f8f8f8; /* Dark background for dark mode */
    --foreground: #040404; /* Light text for dark mode */
  }
}

body {
  color: var(--foreground); /* Use black text by default */
  background: var(--background); /* Use slight off-white background */
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
